:root {
  --primary: #3498db;
  --primary-light: #ebf5ff;
  --primary-dark: #2980b9;
  --bg: #f4f7f9;
  --text: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--text);
}